<!DOCTYPE html>
<html ng-app="myEmpDataApp" ng-controller="browseEmpData">
  <head>
	<!--
		Ref:
			http://stackoverflow.com/questions/15688313/how-can-i-populate-a-select-dropdown-list-from-a-json-feed-with-angularjs
			https://docs.angularjs.org/api/ng/directive/ngOptions
			https://docs.angularjs.org/api/ng/filter/filter
			http://stackoverflow.com/questions/13020821/how-to-load-json-into-my-angular-js-ng-model
	-->	
    <meta charset="utf-8">
    <title>Empolyee Data Navigation</title>
	<link href="style.css" rel="stylesheet" type="text/css"/>

	<!--script src="http://code.angularjs.org/1.2.0/angular.js"></script--> <!-- version 1.1.5 is a must to work for CSS-BASED animation effect!!-->
	<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js">

	<script src="js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	<!--ssscript src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script src="script-ok.js"></script>	<!-- script-20180513.js -->	
	
	<style>
		div.gradient_test {
			background: linear-gradient(to right, #66ff99 0%, #0066ff 100%);
		}
	</style>	
  </head>
  <body>
	<div>
		<h2>Empolyee Data Navigation</h2>
		<hr/>
		
		<label>what to view: 
			<br/>
			<select ng-model="value" ng-change="changeFunc(value)">
				<option ng-repeat="o in renderOptions" value="{{o.value}}" ng-selected="$index===0" class="renderOpt">{{o.label}}</option>
			</select>				
		</label>
		<hr/>
		
		<table>
			<thead style="color:blue" ng-model="renderOption" ng-show="renderOption != 'opt2'">
				<tr>
					<td >Employee Name</td><td>ID</td><td>Manager ID</td>
				</tr>
			</thead>
			<tr class="employee" ng-repeat="e in searchResult" ng-model="renderOption" ng-show="renderOption != 'opt2'">
				<td align="center">{{e.employeeName}}</td><td align="center">{{e.id}}</td><td align="center">{{e.managerId}}</td>
			</tr>
			<tr ng-repeat="h in hierarchy" ng-model="renderOption" ng-show="renderOption == 'opt2'" ng-switch="h.level">
				<td ng-switch-when="1">{{h.name}}</td><td></td><td></td><td></td><td></td>
				<td></td><td ng-switch-when="2">{{h.name}}</td><td></td><td></td><td></td>
				<td></td><td></td><td ng-switch-when="3">{{h.name}}</td><td></td><td></td>			
				<td></td><td></td><td></td><td ng-switch-when="4">{{h.name}}</td><td></td>
				<td></td><td></td><td></td><td></td><td ng-switch-when="5">{{h.name}}</td>				
			</tr>			
		</table>		
	</div>
  </body>
</html>